/*algemene body css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #3498db, #2ecc71); /* Verloop van blauw naar groen */
}

/* navbar css*/
.sidebar {
    width: 300px;
    background-color: #3498db;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #2980b9;
}

#categorieForm {
    display: flex;
    flex-direction: column; /* Stel de richting in op kolom (boven naar beneden) */
    align-items: center; /* Centreer de items horizontaal */
}

#categorieInput {
    width: 80%; /* Maak de invoerbalk 100% breedte */
    padding: 8px;
    margin-bottom: 10px; /* Voeg wat ruimte toe onder de invoerbalk */
    border: 1px solid #ddd;
    border-radius: 5px;
}

#categorieForm button {
    background-color: #2eca75;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 5px; /* Voeg een kleine marge aan de rechterkant toe tussen de knoppen */
}

#categorieForm button:hover {
    background-color: #1e965e;
}

#categorieList {
    max-height: 400px; /* Hier kun je de maximale hoogte aanpassen naar wens */
    overflow-y: auto; /* Voegt een verticale scrollbar toe indien nodig */
    margin-top: 20px;
    color: black;
    text-align: center;
}

#categorieList .categorieItem {
    position: relative;
}
#categorieList .categorieItem button:nth-child(1), /* buttons css */
#categorieList .categorieItem button:nth-child(3) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#categorieList .categorieItem button:nth-child(1) {
    left: 5px;
    background-color: #ac3d3d;
    color: #fff;
}

#categorieList .categorieItem button:nth-child(1):hover { /* button hover css */
    background-color: #781a1a;
}

#categorieList .categorieItem button:nth-child(3) {
    right: 5px;
    background-color: #2eca75;
    color: #fff;
}

#categorieList .categorieItem button:nth-child(3):hover {
    background-color: #1e965e;
}
.categorieItem {
border: 3px solid black;
padding: 10px;
margin-bottom: 10px;
background-color: #ADD8E6;
border-radius: 5px;
}

/* tasklijst css */
.container {
    flex-grow: 1;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.main {
    font-size: 20px;
}

#taskForm {
    display: flex;
    flex-direction: column; /* Stel de richting in op kolom (boven naar beneden) */
    align-items: center; /* Centreer de items horizontaal */
}

#taskInput {
    width: 100%; /* Maak de invoerbalk 100% breedte */
    padding: 8px;
    margin-bottom: 10px; /* Voeg wat ruimte toe onder de invoerbalk */
    border: 1px solid #ddd;
    border-radius: 5px;
}

#taskForm button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 5px; /* Voeg een kleine marge aan de rechterkant toe tussen de knoppen */
}

#taskForm button:hover {
    background-color: #2980b9;
}

#taskList {
    max-height: 400px; /* Hier kun je de maximale hoogte aanpassen naar wens */
    overflow-y: auto; /* Voegt een verticale scrollbar toe indien nodig */
    margin-top: 20px;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ecf0f1;
    padding: 15px 0;
    transition: background-color 0.3s ease;
}

.taskItem:hover {
    background-color: #ecf0f1;
}

.taskItem span {
    flex-grow: 1;
    margin-right: 10px;
}

.taskItem .completed {
    text-decoration: line-through;
    color: #bdc3c7;
}

.taskItem .completed::after {
    content: '\2714';
    margin-left: 5px;
    color: #27ae60;
}

.taskItem button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.taskItem button:hover {
    background-color: #c0392b;
}

.taskItem .completed {
    color: #bdc3c7;
}

.taskItem .completed::after {
    content: '\2714'; /* Unicode character for a checkmark */
    margin-left: 5px;
    color: #27ae60;
}

/* geeft definitie aan fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}