body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #3498db, #2ecc71); /* Verloop van blauw naar groen */
}


.sidebar {
    width: 300px;
    background-color: #3498db;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #2980b9;
}

#categorieForm {
    display: flex;
    flex-direction: column; /* Stel de richting in op kolom (boven naar beneden) */
    align-items: center; /* Centreer de items horizontaal */
}

#categorieInput {
    width: 80%; /* Maak de invoerbalk 100% breedte */
    padding: 8px;
    margin-bottom: 10px; /* Voeg wat ruimte toe onder de invoerbalk */
    border: 1px solid #ddd;
    border-radius: 5px;
}

#categorieForm button {
    background-color: #2eca75;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 5px; /* Voeg een kleine marge aan de rechterkant toe tussen de knoppen */
}

#categorieForm button:hover {
    background-color: #2cc47c;
}

#categorieList {
    max-height: 400px; /* Hier kun je de maximale hoogte aanpassen naar wens */
    overflow-y: auto; /* Voegt een verticale scrollbar toe indien nodig */
    margin-top: 20px;
    color: black;
    text-align: center;
}

.categorieItem {
border: 5px black;
padding: 10px;
margin-bottom: 10px;
background-color: #ADD8E6;
border-radius: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}